<!DOCTYPE html>
<html>
<head>
    <title>Invoice List</title>
</head>
<body>
    <h1>Invoice List</h1>

    <!-- Formulaire de filtre -->
    <form method="get" action="">
        <label for="client">Filter by client:</label>
        <select name="client_id" id="client">
            <option value="">All</option>
            {% for client in clients %}
                <option value="{{ client.id }}" {% if request.GET.client_id == client.id|stringformat:"s" %}selected{% endif %}>{{ client.name }}</option>
            {% endfor %}
        </select>
        
        <label for="name">Search by name:</label>
        <input type="text" id="name" name="name" value="{{ request.GET.name }}">
        
        <button type="submit">Filter</button>
    </form>

    <ul>
        {% for invoice in invoices %}
            <li>
                {{ invoice.name }} - {{ invoice.client }} - {{ invoice.amount }} - {{ invoice.paid }}
                <a href="{% url 'invoice_detail' invoice.pk %}">Detail</a>
                <a href="{% url 'invoice_update' invoice.pk %}">Edit</a>
                <a href="{% url 'invoice_delete' invoice.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'invoice_create' %}">Create Invoice</a>
    <a href="{% url 'category_create' %}">Create Category</a>
    <a href="{% url 'client_create' %}">Create Client</a>
</body>
</html>
