{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Boutique de Vêtements</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
</head>
<body>

    <header>
        <nav class="navbar is-black">
            <div class="navbar-brand">
                <!-- Votre logo ou nom de marque -->
            </div>
            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <a href="{% url 'panier' %}"        class="navbar-item"> Panier      </a>
                    <a href="{% url 'compte' %}"        class="navbar-item"> Mon compte  </a>
                    <a href="{% url 'deconnexion' %}"   class="navbar-item"> Déconnexion </a>
                {% else %}
                    <a href="{% url 'connexion' %}"     class="navbar-item"> Connexion   </a>
                    <a href="{% url 'inscription' %}"   class="navbar-item"> Inscription </a>
                {% endif %}
            </div>
        </nav>
            <br>
        <h1 class="title has-text-centered"> Bienvenue dans notre boutique en ligne </h1>
    </header>
    <h2 class="title is-size-2">Catégories</h2>
    <ul>
        <li>
            <a href="{% url 'accueil' %}"> Toutes </a>
        </li>
        {% include 'boutique/categorie_recursive.html' with categories=categories_parents %}


    <h2>Catégories</h2>
    <ul>
        <li><a href="{% url 'accueil' %}">Toutes</a></li>
        {% recursetree categories_parents %}
            <li>
                <a href="{% url 'accueil' %}?categorie={{ node.id }}">{{ node.nom }}</a>
                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}

    </ul>
    <h2 class="title is-size-2"> Articles </h2>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article_detail' article.id %}">
                    {% if article.image %}
                        <img src="{{ article.image.url }}" alt="{{ article.nom }}" width="100">
                    {% endif %}
                    {{ article.nom }} - {{ article.prix }}€
                </a>
            </li>
        {% empty %}
            <li>Aucun article disponible.</li>
        {% endfor %}
    </ul>
</body>
</html>
