{% extends 'boutique/base.html' %}
{% load mptt_tags %}

{% block title %}Accueil - Boutique de Vêtements{% endblock %}

{% block content %}
    <!-- Le contenu spécifique à la page d'accueil -->
    <h2 class="title is-size-2">Catégories</h2>
    <ul>
        <li>
            <a href="{% url 'accueil' %}"> Toutes </a>
        </li>
        {% include 'boutique/categorie_recursive.html' with categories=categories_parents %}
    </ul>

    <h2 class="title is-size-2"> Articles </h2>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article_detail' article.id %}">
                    {% if article.image %}
                        <img src="{{ article.image.url }}" alt="{{ article.nom }}" width="100">
                    {% endif %}
                    {{ article.nom }} - {{ article.prix }}€
                </a>
            </li>
        {% empty %}
            <li>Aucun article disponible.</li>
        {% endfor %}
    </ul>
{% endblock %}
