<!DOCTYPE html>
<html>
<head>
    <title>{{ article.nom }}</title>
</head>
<body>
    <h1 class="title has-text-centered">{{ article.nom }}</h1>
    
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.nom }}" width="300">
    {% endif %}
    
    <p> Catégorie : {{ article.categorie }} </p>
    <p> {{ article.description }}           </p>
    <p> Prix : {{ article.prix }} €         </p>
    
    {% if user.is_authenticated %}
        <a href="{% url 'ajouter_au_panier' article.id %}" class="is-button is-outlined is-info">
            Ajouter au panier
        </a>
    {% else %}
        <p>
            <a href="{% url 'connexion' %}" class="is-button is-outlined is-warning"> Connectez-vous </a>pour ajouter au panier!
        </p>
    {% endif %}
    <br>
    <a href="{% url 'accueil' %}" class="is-button is-outlined is-link"> Retour à l'accueil </a>
</body>
</html>
