<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
</head>
<body>

    <form method="post">
        <h1>Connexion</h1>
        <div class="field">
            <label class="label" for="username"> Username </label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Text input" name="username" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="password"> Password </label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="password" placeholder="Text input" name="password" required>
            </div>
        </div>
        
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>

        <div>
            <p>
                Pas encore de compte ? <a href="{% url 'inscription' %}">Inscrivez-vous</a>
            </p>
        </div>
    </form>















</body>
</html>
